html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

svg {
  background-color: rgb(240, 240, 240);
  margin-left: 2%;
}

h1 {
  font-size: 24px;
}

div.hypothesis {
  padding: 10px;
  background-color: #fff;
}
div.datatable {
  margin: 15px 20px;
  position: relative;

}

div.images {
  margin-left: 60px;
  margin-right: 10px;
  margin-top: 200px;
  margin-bottom: 50px;
  position: absolute;
}

img {
  width: 500px;
  display: inline;
  margin-left: 50px;
  position: relative;
}


.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }

  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  text {
    font-family: sans-serif;
    font-size: 10px;
  }

  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #0f519c;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  